cidr           = "<cidr>"
endpoint       = "https://<ip>:<port>/"

api_token_id  = "<proxmox_user>@<realm>!<token_name>"
api_token     = "<token_value>"
tls_insecure  = bool

template_vmid = number
ssh_public_key_path = "<path_to_public_key>"

control_plane_count = number
node_count          = number
